<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<a href class="navbar-brand">Shop-App</a>
			<ul class="nav navbar-nav">
				<li><a href>Home</a></li>
			</ul>
		</div>
	</nav>

	<div class="container" ng-app="store">
	
		
		<div ng-controller="StoreController as sc" class="list-group">
		
			<!-- View -->
			<div ng-hide="product.notAvailable" 
			     ng-repeat="product in products" class="list-group-item">
				<h4>{{product.name}}</h4>
				<h4>{{product.price}}</h4>
				<button ng-show="product.canBuy">Add to cart</button>
				<hr/>
				<section ng-init="tab=1">
					<ul class="nav nav-tabs">
						<li ng-class="{active:tab===1}"><a href ng-click="tab=1">Description</a></li>
						<li ng-class="{active:tab===2}"><a href ng-click="tab=2">Specification</a></li>
						<li ng-class="{active:tab===3}"><a href ng-click="tab=3">Reviews</a></li>
					</ul>
					<div class="panel" ng-show="tab===1">
						{{product.description}}
					</div>
					<div class="panel" ng-show="tab===2">Not Yet</div>
					<div class="panel" ng-show="tab===3">None Yet</div>
					tab : {{tab}}
				</section>
				
			</div>
			
		
		</div>
		
	</div>

	
	<script src="angular-1.4.8/angular.js"></script>
	<script src="js/app.js"></script>
	
</body>
</html>







